<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Flask  API</title>
</head>
<body>    
    <form action="{{ request.path }}" method="post">
        <div class="form">
            <h1>WELCOME TO THE MACHINE</h1>
            <div class="user">
                <input type="text" class="form-control bg-dark text-light" name="username" placeholder="Username" autofocus>
                <i class="fa fa-user fa-lg"></i>
            </div>
            <div class="passwd">
                <input type="password" class="form-control bg-dark text-light" name="password" placeholder="Password">
                <i class="fa fa-key"></i>
            </div>
            <a href="signup">Create a new account</a>
            <input type="submit" class="btn btn-primary" value="Entrar">
        </div>    
    </form>           
</body>
</html>